<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
  </head>
  <body>

    <section class="HospesHead">
      <header class="HospesHead-header u-wrapper">
        <h1 clas="HospesHead-title">{Hospes}</h1>
        <nav class="HospesHead-navbar">
          <ul class="HospesHead-menu">
            <li class="HospesHead-menu-item"><a href="#">Inicio</a></li>
            <li class="HospesHead-menu-item"><a href="#">Sobre Mi</a></li>
            <li class="HospesHead-menu-item"><a href="#">Blog</a></li>
          </ul>
        </nav>
      </header>
      <img class="HospesHead-img" src="../assets/img/blacks.jpg" alt="">
    </section>

    <section class="HospesCont u-wrapper">
      <h2 class="HospesCont-title">BLOG</h2>
      <p class="HospesCont-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae esse necessitatibus saepe voluptatibus eligendi nam tempore minima et, inventore optio impedit! Reprehenderit neque in aperiam possimus, nam voluptatum molestiae, deleniti!</p>
    </section>

    <footer class="HospesFoot">
      <div class="HospesFoot-div u-wrapper">
        <p class="HospesFoot-div-copyright">Copyright © 2012-2016 Miguel Zavala.</p>
        <div class="HospesFoot-icons">
          <a class="HospesFoot-icon" href="#">
            <img class="HospesFoot-icon-img" src="" alt="">
            <p class="HospesFoot-icon-text">/Zeroxys</p>
          </a>
          <a  class="HospesFoot-icon" href="#">
            <img class="HospesFoot-icon-img" src="" alt="">
            <p class="HospesFoot-icon-text">@MigueZav</p>
          </a>
        </div>
      </div>
    </footer>

  </body>
</html>