/*--Importacion de ficheros--*/
@import "./variables.css";
@import "./media.css";
@import "./mixins.css";
@import "./spinner.css";
@import "tingle.js/dist/tingle.min.css";

.HospesBody{
  background:var(--fontWhiteColor);
  padding: 0;
  margin: 0;
  display:flex;
  flex-flow: column wrap;
  justify-content: center;
  font-family: 'Old Standard TT', serif;

  .u-wrapper{
    padding: 0 2em 0 2em;
  }

  .liked{
    .heartdislike{
      display: block;
      text-decoration:none;
      color: #f44336;
    }

    .heartdislike::before{
      font-family: FontAwesome;
      content: '\f004';
      font-size: responsive 20px 35px;
    }    
    .heart{
      display: none;
      text-decoration: none;
      color: black;
    }      

    .heart::before {
      font-family: FontAwesome;
      content: '\f08a';
      font-size: responsive 20px 35px;
    }

  }

  .heart{
    display: block;
    text-decoration: none;
    color: #f44336;
  }      

  .heart::before {
    font-family: FontAwesome;
    content: '\f08a';
    font-size: responsive 20px 35px;
  }  

  .HospesHead{
    background: var(--bg-header); 
    height: 110px;
    color:var(--fontWhiteColor);
    
    &-header{
      margin: 0 0 25px 0;
      display: flex;
      flex-flow:row wrap;
      justify-content: space-between;
      align-items: baseline;
    }

    &-title{
      font-size: responsive 32px 70px;
      margin: 0;
      padding: 0;
    }
    
    &-menu{
      display: flex;
      flex-flow:row wrap;
      &-item{
        position:relative;
        margin: 0 8px;
        font-size: responsive 18px 25px;
        list-style: none;

        &-link{
          color:var(--fontWhiteColor);
          text-decoration:none;
          transition-property: all;
          transition-duration: 0.5s;
          transition-timing-function: ease-in-out;
        }
        &-link:hover{
          color:var(--fontWhiteColor);
        }
        &-link:before{
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #F5503F;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }
        &-link:hover:before{
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }

  .HospesPort{
    &-img{
      background-image: url('/img/dev.jpg');
      width: 100%;
      height: 600px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      @media (--mobile){
        background-image: url('/img/dev-mob.jpg');
        height: 400px;
      }
    }
  }
  
  .HospesBlogs{
    background: var(--bg-header);
    color: var(--fontWhiteColor);
    height: 400px;
    padding-bottom: 40px;
    @media (--mobile){
      height: auto;
    }
    &-contents{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;    
      &-title{
        font-size: responsive 25px 36px;
      }
      &-content{
        font-size: responsive 16px 22px;
        text-align: center;
      }
    }
  }

  .HospesContents{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @media (--mobile){
    flex-flow: row wrap;
    }

    &-About{
      background:var(--fontWhiteColor);
      color:var(--fontBlogColor);
      width: 100%;

      &-content{ 
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center; 

        &-img{
          margin: 35px 35px;  
          width: 250px;
          height: 250px;
          border-radius: 100%;
        }

        &-text{
          width: 900px;
          margin-bottom:150px;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          
          @media (--desktop){
            width: 500px;
          }

          @media (--icons){
            width: 189px;
          }          

        }

      }
    }

    &-Blog{
      background:var(--bg-header);
      color:var(--fontWhiteColor);
      width: 100%;

      &-Principal{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        @media (--mobile){
          flex-flow: column wrap;
        }

        &-titleContent{
          margin-top: 20px;
          color: var(--bg-header);
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          &-title{
            margin:0;
            font-size: responsive 20px 32px;
          }
          &-text{
            margin: 0;
            font-size: responsive 18px 24px;
          }
        }

        &-Contenido{
          width: 1100px;
          margin:20px;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: center;
        
          @media (--desktop){
            flex-flow:column;
            width:600px;
          }

          @media (--icons){
            flex-flow:column;
            width:380px;
          }     

        }
      }

      &-Articulos{
        margin: 15px;
        background: var(--bg-header);
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin-bottom: 50px; 
        width: 450px;
        height: 750px;
        border-radius: 5px;
        box-shadow: 5px 5px 20px var(--bg-header);

        
        @media (--mobile){
          background: var(--bg-header);
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          margin-bottom: 50px; 
          width: 380px;
          height: 750px;
          border-radius: 5px;          
        }
        
        &-img{
          height: 270px;
          width: 450px;
          
          @media (--mobile){
            height: 270px;
            width: 380px;
          }

        }

        &-content{ 
          color: var(--fontWhiteColor);
          margin-top: 45px;
          &-title{
            margin: 0;
            padding:0;
            text-align: center;
            font-size:responsive 20px 28px;
          }
          &-text{
            width:350px;
            height: 210px;
            font-size:responsive 12px 15px;
            overflow : hidden;
            @media (--mobile){
              width: 300px;
            }

          }
          &-commentBox{
            width: 400px;
            color: var(--fontWhiteColor);
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            
            @media (--mobile){
              width: 300px;
            }
          }
        }
        &-btn{
          @mixin btn var(--fontWhiteColor);
        }
        &-btn:hover{
              background: var(--fontWhiteColor);
              color: var(--bg-header);
              border-radius: 10px;
            }
      }

    }

    &-Works{
      background:var(--fontWhiteColor);
      color:var(--fontBlogColor);
      display: flex;
      align-content:center;
      width: 100%;
    }
    
    &-div{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      @media (--mobile){
        height: 450px;
      }

      &-title{
        font-size: responsive 25px 36px;
      }

      &-content{
        padding: 25px;
        font-size: responsive 16px 22px;
        text-align: center;
        height: 200px;
        
        @media (--mobile){
          height: 175px;
        }        
      }

    }

    &-button{
      @mixin btn var(--fontBlogColor);
      &-b{
        @mixin btn var(--fontWhiteColor);
      }
      &-b:hover{
            background: var(--fontWhiteColor);
            color: var(--bg-header);
            border-radius: 5px;
          }      
    }

    &-button:hover{
      background: var(--bg-header);
      color: var(--fontWhiteColor);
      border-radius: 5px;
    }    

  }
  
  .blogsContents{

    &-img{
      display: block;
      max-width: 100%;
    }

    &-textContent{
      display: flex;
      flex-flow: column nowrap;
      align-items:center;
      &-title{
        text-align: center;
        font-size: responsive 32px 40px;
      }
      &-text{
        padding: 0 170px 0 170px;
        font-size: responsive 16px 19px;
        @media (--desktop){
          padding: 0 100px 25px 100px;
        }
        @media (--icons){
          padding: 0 15px 25px 15px; 
        }
      }  
    }

    &-number{
      display: flex;
      flex-flow: row;
      
      &-num{
        font-size: responsive 18px 22px;
      }
    }    

    &-icons{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 50px 170px 15px 170px;

      @media (--desktop){
        padding: 0 100px 25px 100px;
      }
      @media (--icons){
        padding: 0 15px 25px 15px; 
      }
      
      &-share{
        color: black;
        text-decoration: none;
      }

      &-share::before {
        font-family: FontAwesome;
        content: '\f079';
        font-size: responsive 16px 35px;
      }            
    }       

    &-boxComments{
      background-color: #A5A5AF;
      &-fbComments{
        padding: 0 170px 0 170px;

        @media (--desktop){
          padding: 0 100px 25px 100px; 
        }

        @media (--icons){
          padding: 0 15px 25px 15px; 
        } 

      }
    }
  }

  .HospesFoot{
    background-color: var(--bg-header);
    color: var(--fontWhiteColor);
    height: 220px;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;

    @media (--icons){
      flex-flow: column nowrap;
    }
    
    &-copyright{ 
      padding:0 35px 0 0; 
      display: flex;
      flex-flow: column nowrap;
      border-right: 1px solid white;
      font-size: responsive 12px 16px;          
      
      @media (width <= 500px){
        border-right:none;
        border-bottom:1px solid white;     
        padding: 0;
        text-align: center; 
      }

    }

    &-icons{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;

      &-icon{
        width: 35px;
        margin:5px;
                
        &-color{
          fill:#d5d5d5;
        }

        &-color:hover{
          fill:#F5503F;
        }
      }
    }
  }
}

/*Galeria de works*/

.worksTitle{
  color: var(--fontBlogColor);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0 50px 0 50px;
}

.worksTitle h2{
  font-size: responsive 25px 36px;
}

.worksTitle h3{
  font-size: responsive 16px 22px;
  text-align: center;
}

/*Galeria y contenedores*/

.galleryCont{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.gallery{
  padding: 75px 0px 75px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  
  @media (--desktop){
    width: 700px;
    justify-content: space-around;
  }

  @media (--tablet){
    width: 270px;
  }

  &-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding:20px;
    background-color: var(--bg-header);
    margin-bottom: 35px;
    box-shadow: 5px 5px 20px var(--bg-header);
  }

  &-items{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 15px;
    width: 200px;
    height: 200px;   
  }
}

.tingle-btn--primary{
  background-color: #373737;
  border: solid 1px var(--bg-body);
  border-radius: 5px;
}

.tingle-modal-box{
  background: var(--bg-body);
}

.tingle-modal-box__footer{
  background-color: var(--bg-body); 
}

.tingle-modal__close{
  color:var(--bg-body);
  font-size: 32px;
  @media (max-width: 540px){
    background-color: #373737;
  }
}

.tingle-modal__closeIcon{ 
  @media (max-width: 540px){
    font-size: 2rem;
  } 
}

.date{
  margin-top: 20px;
  margin-left: 10px; 
  display: flex;
  justify-content: flex-start;
  font-size: responsive 16px 22px;
  color:var(--fontBlogColor);
}