/*--Importacion de ficheros--*/
@import "./variables.css";
@import "./media.css";
@import "./mixins.css";


.HospesBody{
  background:var(--fontWhiteColor);
  padding: 0;
  margin: 0;
  display:flex;
  flex-flow: column wrap;
  justify-content: center;
  font-family: 'Old Standard TT', serif;

  .u-wrapper{
    padding: 0 2em 0 2em;
  }

  .HospesHead{
    background: var(--bg-header); 
    height: 110px;
    color:var(--fontWhiteColor);
    
    &-header{
      margin: 0 0 25px 0;
      display: flex;
      flex-flow:row wrap;
      justify-content: space-between;
      align-items: baseline;
    }

    &-title{
      font-size: responsive 32px 70px;
      margin: 0;
      padding: 0;
    }
    
    &-menu{
      display: flex;
      flex-flow:row wrap;
      &-item{
        margin: 0 8px;
        font-size: responsive 16px 22px;
        list-style: none;

        &-link{
          color:var(--fontWhiteColor);
          text-decoration:none;
          transition-property: all;
          transition-duration: 0.5s;
          transition-timing-function: ease-in-out;
        }
        &-link:hover{
          border-top: 2px solid red;
          color: red;
        }
      }
    }
  }

  .HospesPort{
    &-img{
      background-image: url('/img/dev.jpg');
      width: 100%;
      height: 600px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      @media (--mobile){
        background-image: url('/img/dev-mob.jpg');
        height: 400px;
      }
    }
  }
  
  .HospesBlogs{
    background: var(--bg-header);
    color: var(--fontWhiteColor);
    height: 400px;
    padding-bottom: 40px;
    @media (--mobile){
      height: auto;
    }
    &-contents{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;    
      &-title{
        font-size: responsive 25px 36px;
      }
      &-content{
        font-size: responsive 16px 22px;
        text-align: center;
      }
    }
  }

  .HospesContents{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @media (--mobile){
    flex-flow: row wrap;
    }

    &-About{
      background:var(--fontWhiteColor);
      color:var(--fontBlogColor);

      &-content{ 
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center; 

        &-img{
          margin: 35px 35px;  
          width: 250px;
          height: 250px;
          border-radius: 100%;
        }

        &-text{
          width: 900px;
          margin-bottom:150px;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          
          @media (--desktop){
            width: 500px;
          }

          @media (--icons){
            width: 189px;
          }          

        }

      }
    }

    &-Blog{
      background:var(--bg-header);
      color:var(--fontWhiteColor);
      
      &-Principal{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        @media (--mobile){
          flex-flow: column wrap;
        }

        &-titleContent{
          margin-top: 20px;
          color: var(--bg-header);
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          &-title{
            margin:0;
            font-size: responsive 20px 32px;
          }
          &-text{
            margin: 0;
            font-size: responsive 18px 24px;
          }
        }

        &-Contenido{
          width: 1100px;
          margin:20px;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: center;
        
          @media (--desktop){
            flex-flow:column;
            width:600px;
          }

          @media (--icons){
            flex-flow:column;
            width:380px;
          }     

        }
      }

      &-Articulos{
        margin: 15px;
        background: var(--bg-header);
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin-bottom: 50px; 
        width: 450px;
        height: 750px;
        border-radius: 5px;

        
        @media (--mobile){
          background: var(--bg-header);
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          margin-bottom: 50px; 
          width: 380px;
          height: 750px;
          border-radius: 5px;          
        }
        
        &-img{
          height: 270px;
          width: 450px;
          
          @media (--mobile){
            height: 270px;
            width: 380px;
          }

        }

        &-content{ 
          color: var(--fontWhiteColor);
          &-title{
            margin: 0;
            padding:0;
            text-align: center;
            font-size:responsive 18px 32px;
          }
          &-text{
            width:350px;
            height: 210px;
            font-size:responsive 12px 15px;
            overflow : hidden;
            @media (--mobile){
              width: 300px;
            }

          }
          &-commentBox{
            width: 400px;
            color: var(--fontWhiteColor);
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            
            @media (--mobile){
              width: 300px;
            }
          }
        }
        &-btn{
          @mixin btn var(--fontWhiteColor);
        }
        &-btn:hover{
              background: var(--fontWhiteColor);
              color: var(--bg-header);
              border-radius: 10px;
            }
      }

    }

    &-Works{
      background:var(--fontWhiteColor);
      color:var(--fontBlogColor);
      display: flex;
      align-content:center;
    }
    
    &-div{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;  
      width: 100%;

      &-title{
        font-size: responsive 25px 36px;
      }

      &-content{
        padding: 25px;
        font-size: responsive 16px 22px;
        text-align: center;
        height: 200px;
        
        @media (--mobile){
          height: 175px;
        }        
      }

    }

    &-button{
      @mixin btn var(--fontBlogColor);
      &-b{
        @mixin btn var(--fontWhiteColor);
      }
      &-b:hover{
            background: var(--fontWhiteColor);
            color: var(--bg-header);
            border-radius: 10px;
          }      
    }

    &-button:hover{
      background: var(--bg-header);
      color: var(--fontWhiteColor);
      border-radius: 10px;
    }    

  }
  
  .blogsContents{
    &-img{
      display: block;
      max-width: 100%;
    }

    &-foo {
      display: inline-block;
      font: normal normal normal FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    &-foo::before {
      font-family: FontAwesome;
      content: '\f030';
    }

    &-content{
      &-text{
        border:1px solid red;
      }
    }
  }

  .HospesFoot{
    background-color: var(--bg-header);
    color: var(--fontWhiteColor);
    height: 220px;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;

    @media (--icons){
      flex-flow: column nowrap;
    }
    
    &-copyright{ 
      padding:0 35px 0 0; 
      display: flex;
      flex-flow: column nowrap;
      border-right: 1px solid white;
      font-size: responsive 12px 16px;          
      
      @media (width <= 500px){
        border-right:none;
        border-bottom:1px solid white;     
        padding: 0;
        text-align: center; 
      }

    }

    &-icons{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;

      &-icon{
        width: 35px;
        margin:5px;
                
        &-color{
          fill:#d5d5d5;
        }

        &-color:hover{
          fill:red;
        }
      }
    }  
  }
}
