:root{
  --bg-body:#d5d5d5;
  --bg-header:#373737;
  --fontBlogColor:#404b4d;
  --fontWhiteColor:#d5d5d5;

  --fontSize:1em;
}

/* -- Definiendo customs media queries --*/
@custom-media --mobile (max-width: 767px);
@custom-media --tablet (max-width: 650px);
@custom-media --desktop (max-width: 800px);
@custom-media --icons (max-width: 500px);
@custom-media --retina (-webkit-min-device-pixel-ratio:2);

/*--Mixins--*/
@define-mixin btn $color, $borderColor{
  text-align: center;
  width: 150px;
  margin: 25px;
  padding: 15px;
  color: $color;
  border: 2px solid $color;
  border-radius: 6px;
  text-decoration: none;
  font-size: responsive 16px 22px;
}


.HospesBody{
  background:var(--fontWhiteColor);
  padding: 0;
  margin: 0;
  display:flex;
  flex-flow: column wrap;
  justify-content: center;
  font-family: 'Old Standard TT', serif;

  .u-wrapper{
    padding: 0 2em 0 2em;
  }

  .HospesHead{
    background: var(--bg-header); 
    height: 110px;
    color:var(--fontWhiteColor);
    
    &-header{
      margin: 0 0 25px 0;
      display: flex;
      flex-flow:row wrap;
      justify-content: space-between;
      align-items: baseline;
    }

    &-title{
      font-size: responsive 32px 70px;
      margin: 0;
      padding: 0;
    }
    
    &-menu{
      display: flex;
      flex-flow:row wrap;
      &-item{
        margin: 0 8px;
        font-size: responsive 16px 22px;
        list-style: none;

        &-link{
          color:var(--fontWhiteColor);
          text-decoration:none;
          transition-property: all;
          transition-duration: 0.5s;
          transition-timing-function: ease-in-out;
        }
        &-link:hover{
          border-top: 2px solid red;
          color: red;
        }
      }
    }
  }

  .HospesPort{
    &-img{
      background-image: url('/img/dev.jpg');
      width: 100%;
      height: 600px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      @media (--mobile){
        background-image: url('/img/dev-mob.jpg');
        height: 400px;
      }
    }
  }
  
  .HospesBlogs{
    background: var(--bg-header);
    color: var(--fontWhiteColor);
    height: 400px;
    &-contents{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;    
      &-title{
        font-size: responsive 25px 36px;
      }
      &-content{
        font-size: responsive 16px 22px;
        text-align: center;
      }
    }
  }

  .HospesContents{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    @media (--mobile){
    flex-flow: row wrap;
    }

    &-About{
      background:var(--fontWhiteColor);
      color:var(--fontBlogColor);

      &-content{
        padding-top: 50px; 
        border: 1px solid red;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        @media (--mobile){
        flex-flow: column wrap;
        }        

        &-img{
          border: 1px solid red;
          width: 350px;
          height: 500px;
        }

        &-text{
          display: flex;
          flex-flow: column wrap;
          align-items: center;
        }

      }
    }

    &-Blog{
      background:var(--bg-header);
      color:var(--fontWhiteColor);
    }

    &-Works{
      background:var(--fontWhiteColor);
      color:var(--fontBlogColor);
    }
    
    &-div{     
      display: flex;
      flex-flow: column wrap;
      align-items: center;

      @media (--mobile){
        width: auto;
      }     

      &-title{
        font-size: responsive 25px 36px;
      }
      &-content{
        font-size: responsive 16px 22px;
        text-align: center;
        height: 200px;
      }
    }

    &-button{

      @mixin btn var(--fontBlogColor);
      &-b{
        @mixin btn var(--fontWhiteColor);
      }
      &-b:hover{
            background: var(--fontWhiteColor);
            color: var(--fontBlogColor);
            border-radius: 10px;
          }      
    }

    &-button:hover{
      background: var(--bg-header);
      color: var(--fontWhiteColor);
      border-radius: 10px;
    }    

  }


  .HospesFoot{
    background-color: var(--bg-header);
    color: var(--fontWhiteColor);
    height: 180px;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
    
    &-copyright{ 
      padding-right: 35px;
      display: flex;
      flex-flow: column nowrap;
      border-right: 1px solid white;
      font-size: responsive 12px 16px;
      @media (--icons){
        padding-right: 20px; 
      }
    }

    &-icons{
      width: 200px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      @media (--icons){
        flex-flow: column nowrap;
        width: 15px;
      }
      &-icon{
        width: 35px;
        &-color{
          fill:#d5d5d5;
        }
        &-color:hover{
          fill:red;
        }
      }
    }

  }
}
